<%= javascript_pack_tag "index" %>
<div class="container">
  <div id="myQuestion">
    <figure class="text-center m-5">
      <blockquote class="blockquote">
        <p class="h2">Who said that ...?</p>
      </blockquote>
      <blockquote class="blockquote h1">
        <%= @game.quote %>
        <%= @game.author %>
      </blockquote>
    </figure>

    <blockquote class="blockquote h3 text-center">
      Choose the correct author <br/>
      Reply Fast!!
    </blockquote>
  </div>

  <%= form_with(model: @game) do |form| %>
  <div class="field text-center" >
    <% @game.get_all_authors.each do |author| %>
        <%= form.label  author, class: "btn btn-outline-success", for: author %>
        <%= form.radio_button :chosen_author, author, :onclick => "this.form.submit()", id: author, style: "display: none"%>
      <% end %>
    </div>
  <% end %>
</div>
