<!DOCTYPE html>
<html>
  <head>
    <title><%= "Hama99o's Quote Guessing Game - #{@page_title}" %></title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="enjoy free Quote Guessing Game">
    <meta name="google-site-verification" content="KYglMpLou6jfXME2xODzzrSontncTP1tnLvvzgChX1k" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="f-container fixed-hf">
    <%= render partial: 'layouts/header' %>
    <%= render partial: 'layouts/flash_message' %>
    <div class="class="main">
      <%= yield %>
    </div>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
